Node-RED/Node-RED_Flow.json
[
    {
        "id": "daa95fe6108b39de",
        "type": "tab",
        "label": "DataLogger",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "fc7bf552a096fb77",
        "type": "mqtt in",
        "z": "daa95fe6108b39de",
        "d": true,
        "name": "",
        "topic": "esp32/#",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "8db3fac0.99dd48",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 66.99999237060547,
        "y": 173.99999809265137,
        "wires": [
            [
                "4e82dce8ce000858"
            ]
        ]
    },
    {
        "id": "a49dbf1e35087eda",
        "type": "debug",
        "z": "daa95fe6108b39de",
        "name": "temp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 566.9999923706055,
        "y": 33.99999809265137,
        "wires": []
    },
    {
        "id": "899dfdc83ed22e97",
        "type": "debug",
        "z": "daa95fe6108b39de",
        "name": "pm 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 566.9999923706055,
        "y": 353.99999809265137,
        "wires": []
    },
    {
        "id": "4e82dce8ce000858",
        "type": "switch",
        "z": "daa95fe6108b39de",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "esp32/bme680/temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32/bme680/humidity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32/bme680/pressure",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32/bme680/gasResistance",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32/veml7700/illumination",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32/mhz19b/co2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32/pmsa003/pm_01",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32/pmsa003/pm_25",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32/pmsa003/pm_10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32/sht40/temp",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32/sht40/humi",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32/sgp41/vocIdx",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32/sgp41/noxIdx",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32/aht21/temp",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32/aht21/humi",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32/ens160/aqi",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32/ens160/tvoc",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32/ens160/eco2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32/dht22/temp",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32/dht22/humi",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32/scd41/temp",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32/scd41/humi",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32/scd41/co2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 23,
        "x": 206.99999237060547,
        "y": 173.99999809265137,
        "wires": [
            [
                "4f1da74bca8ae87f",
                "a49dbf1e35087eda"
            ],
            [
                "395a1ded02c91d91",
                "396d50ae4c6bd73d"
            ],
            [
                "dcdead692c231538"
            ],
            [
                "2aee8f9badda97b7"
            ],
            [
                "22f3c03748f2f116"
            ],
            [
                "3e047ff06f765231"
            ],
            [
                "5a33193c1a0f1616"
            ],
            [
                "7cc2159a6b762001"
            ],
            [
                "6edcd0ea3cf61c51",
                "899dfdc83ed22e97"
            ],
            [
                "3f89cb0f76584e29"
            ],
            [
                "8bcefc9337d00386"
            ],
            [
                "7bb902e0841ea13e"
            ],
            [
                "a33d27c73c0c1951"
            ],
            [
                "dcee2f9c4404a313"
            ],
            [
                "918e30bec8fc779f"
            ],
            [
                "989451f0c371c1e6"
            ],
            [
                "8b6b12a85c1c8b92"
            ],
            [
                "eb3816e5c425f86b"
            ],
            [
                "75dfe233b95e3001"
            ],
            [
                "3eeed73944b6f6fe"
            ],
            [
                "da08990a4744801e"
            ],
            [
                "1718b579ef159a15"
            ],
            [
                "d61ebd60872abc07"
            ]
        ]
    },
    {
        "id": "4f1da74bca8ae87f",
        "type": "influxdb out",
        "z": "daa95fe6108b39de",
        "influxdb": "e25464d95617baba",
        "name": "temp",
        "measurement": "temp",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "MyBiz",
        "bucket": "rpi",
        "x": 406.99999237060547,
        "y": 33.99999809265137,
        "wires": []
    },
    {
        "id": "395a1ded02c91d91",
        "type": "influxdb out",
        "z": "daa95fe6108b39de",
        "influxdb": "e25464d95617baba",
        "name": "humi",
        "measurement": "humi",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "MyBiz",
        "bucket": "rpi",
        "x": 406.99999237060547,
        "y": 73.99999809265137,
        "wires": []
    },
    {
        "id": "dcdead692c231538",
        "type": "influxdb out",
        "z": "daa95fe6108b39de",
        "influxdb": "e25464d95617baba",
        "name": "press",
        "measurement": "press",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "MyBiz",
        "bucket": "rpi",
        "x": 406.99999237060547,
        "y": 113.99999809265137,
        "wires": []
    },
    {
        "id": "22f3c03748f2f116",
        "type": "influxdb out",
        "z": "daa95fe6108b39de",
        "influxdb": "e25464d95617baba",
        "name": "lux",
        "measurement": "lux",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "MyBiz",
        "bucket": "rpi",
        "x": 406.99999237060547,
        "y": 193.99999809265137,
        "wires": []
    },
    {
        "id": "3e047ff06f765231",
        "type": "influxdb out",
        "z": "daa95fe6108b39de",
        "influxdb": "e25464d95617baba",
        "name": "co2",
        "measurement": "co2",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "MyBiz",
        "bucket": "rpi",
        "x": 406.99999237060547,
        "y": 233.99999809265137,
        "wires": []
    },
    {
        "id": "5a33193c1a0f1616",
        "type": "influxdb out",
        "z": "daa95fe6108b39de",
        "d": true,
        "influxdb": "e25464d95617baba",
        "name": "pm01",
        "measurement": "pm01",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "MyBiz",
        "bucket": "rpi",
        "x": 406.99999237060547,
        "y": 273.99999809265137,
        "wires": []
    },
    {
        "id": "7cc2159a6b762001",
        "type": "influxdb out",
        "z": "daa95fe6108b39de",
        "d": true,
        "influxdb": "e25464d95617baba",
        "name": "pm25",
        "measurement": "pm25",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "MyBiz",
        "bucket": "rpi",
        "x": 406.99999237060547,
        "y": 313.99999809265137,
        "wires": []
    },
    {
        "id": "6edcd0ea3cf61c51",
        "type": "influxdb out",
        "z": "daa95fe6108b39de",
        "d": true,
        "influxdb": "e25464d95617baba",
        "name": "pm10",
        "measurement": "pm10",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "MyBiz",
        "bucket": "rpi",
        "x": 410,
        "y": 360,
        "wires": []
    },
    {
        "id": "396d50ae4c6bd73d",
        "type": "trigger",
        "z": "daa95fe6108b39de",
        "name": "",
        "op1": "reset",
        "op2": "true",
        "op1type": "str",
        "op2type": "bool",
        "duration": "16",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 130,
        "y": 1000,
        "wires": [
            [
                "2d39aea0eb3d7011",
                "9fb56881fcfd34f8"
            ]
        ]
    },
    {
        "id": "2d39aea0eb3d7011",
        "type": "debug",
        "z": "daa95fe6108b39de",
        "name": "debug 37",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 1060,
        "wires": []
    },
    {
        "id": "9fb56881fcfd34f8",
        "type": "trigger",
        "z": "daa95fe6108b39de",
        "name": "",
        "op1": "Don't recieve a value",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-15",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "reset",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 330,
        "y": 1000,
        "wires": [
            [
                "f855eeab1d10502a"
            ]
        ]
    },
    {
        "id": "2aee8f9badda97b7",
        "type": "influxdb out",
        "z": "daa95fe6108b39de",
        "influxdb": "e25464d95617baba",
        "name": "gasRe",
        "measurement": "gasRe",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "MyBiz",
        "bucket": "rpi",
        "x": 406.99999237060547,
        "y": 153.99999809265137,
        "wires": []
    },
    {
        "id": "f855eeab1d10502a",
        "type": "PushMessage_New",
        "z": "daa95fe6108b39de",
        "d": true,
        "name": "",
        "lineConfig": "95c4c377036b0a2d",
        "x": 560,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "3f89cb0f76584e29",
        "type": "influxdb out",
        "z": "daa95fe6108b39de",
        "influxdb": "e25464d95617baba",
        "name": "tempSht40",
        "measurement": "tempSht40",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "MyBiz",
        "bucket": "rpi",
        "x": 430,
        "y": 400,
        "wires": []
    },
    {
        "id": "8bcefc9337d00386",
        "type": "influxdb out",
        "z": "daa95fe6108b39de",
        "influxdb": "e25464d95617baba",
        "name": "humiSht40",
        "measurement": "humiSht40",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "MyBiz",
        "bucket": "rpi",
        "x": 430,
        "y": 440,
        "wires": []
    },
    {
        "id": "7bb902e0841ea13e",
        "type": "influxdb out",
        "z": "daa95fe6108b39de",
        "influxdb": "e25464d95617baba",
        "name": "vocIdxSgp41",
        "measurement": "vocIdxSgp41",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "MyBiz",
        "bucket": "rpi",
        "x": 430,
        "y": 480,
        "wires": []
    },
    {
        "id": "a33d27c73c0c1951",
        "type": "influxdb out",
        "z": "daa95fe6108b39de",
        "influxdb": "e25464d95617baba",
        "name": "noxIdxSgp41",
        "measurement": "noxIdxSgp41",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "MyBiz",
        "bucket": "rpi",
        "x": 430,
        "y": 520,
        "wires": []
    },
    {
        "id": "dcee2f9c4404a313",
        "type": "influxdb out",
        "z": "daa95fe6108b39de",
        "influxdb": "e25464d95617baba",
        "name": "tempAht21",
        "measurement": "tempAht21",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "MyBiz",
        "bucket": "rpi",
        "x": 430,
        "y": 560,
        "wires": []
    },
    {
        "id": "918e30bec8fc779f",
        "type": "influxdb out",
        "z": "daa95fe6108b39de",
        "influxdb": "e25464d95617baba",
        "name": "humiAht21",
        "measurement": "humiAht21",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "MyBiz",
        "bucket": "rpi",
        "x": 430,
        "y": 600,
        "wires": []
    },
    {
        "id": "989451f0c371c1e6",
        "type": "influxdb out",
        "z": "daa95fe6108b39de",
        "influxdb": "e25464d95617baba",
        "name": "aqiEns160",
        "measurement": "aqiEns160",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "MyBiz",
        "bucket": "rpi",
        "x": 430,
        "y": 640,
        "wires": []
    },
    {
        "id": "8b6b12a85c1c8b92",
        "type": "influxdb out",
        "z": "daa95fe6108b39de",
        "influxdb": "e25464d95617baba",
        "name": "tvocEns160",
        "measurement": "tvocEns160",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "MyBiz",
        "bucket": "rpi",
        "x": 430,
        "y": 680,
        "wires": []
    },
    {
        "id": "eb3816e5c425f86b",
        "type": "influxdb out",
        "z": "daa95fe6108b39de",
        "influxdb": "e25464d95617baba",
        "name": "eco2Ens160",
        "measurement": "eco2Ens160",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "MyBiz",
        "bucket": "rpi",
        "x": 430,
        "y": 720,
        "wires": []
    },
    {
        "id": "75dfe233b95e3001",
        "type": "influxdb out",
        "z": "daa95fe6108b39de",
        "influxdb": "e25464d95617baba",
        "name": "tempDht22",
        "measurement": "tempDht22",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "MyBiz",
        "bucket": "rpi",
        "x": 430,
        "y": 760,
        "wires": []
    },
    {
        "id": "3eeed73944b6f6fe",
        "type": "influxdb out",
        "z": "daa95fe6108b39de",
        "influxdb": "e25464d95617baba",
        "name": "humiDht22",
        "measurement": "humiDht22",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "MyBiz",
        "bucket": "rpi",
        "x": 430,
        "y": 800,
        "wires": []
    },
    {
        "id": "da08990a4744801e",
        "type": "influxdb out",
        "z": "daa95fe6108b39de",
        "influxdb": "e25464d95617baba",
        "name": "tempScd41",
        "measurement": "tempScd41",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "MyBiz",
        "bucket": "rpi",
        "x": 430,
        "y": 840,
        "wires": []
    },
    {
        "id": "1718b579ef159a15",
        "type": "influxdb out",
        "z": "daa95fe6108b39de",
        "influxdb": "e25464d95617baba",
        "name": "humiScd41",
        "measurement": "humiScd41",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "MyBiz",
        "bucket": "rpi",
        "x": 430,
        "y": 880,
        "wires": []
    },
    {
        "id": "d61ebd60872abc07",
        "type": "influxdb out",
        "z": "daa95fe6108b39de",
        "influxdb": "e25464d95617baba",
        "name": "co2Scd41",
        "measurement": "co2Scd41",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "MyBiz",
        "bucket": "rpi",
        "x": 420,
        "y": 920,
        "wires": []
    },
    {
        "id": "8db3fac0.99dd48",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.54",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e25464d95617baba",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "_tasks",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://192.168.0.55:8086",
        "timeout": "",
        "rejectUnauthorized": true
    },
    {
        "id": "95c4c377036b0a2d",
        "type": "lineConfig",
        "botName": "myMind",
        "botIconUrl": ""
    }
]